<header>
    <nav class="navbar slide-in">
        <a href="/" class="logo">
            <img src="https://static.wixstatic.com/media/5f23d5_a503b0a04edf497fbb164b8f179d8bff~mv2.png" alt="Nova Suite">
        </a>
        <div class="nav-links">            <div class="has-submenu">
                <a href="/astro.html">AI & Tech</a>
                <div class="submenu">
                    <a href="/astro.html">Astro</a>
                    <a href="/novaai.html">Nova AI</a>
                </div>
            </div>
            <a href="/transformation.html" class="highlight-link">Transformation</a>
            <a href="/blog">Blog</a>
            <a href="/id.html">Nova ID</a>
            <a href="/get-started.html" class="cta-button">Get Started - It's Free</a>
        </div>
    </nav>
</header>
